---
import { PLAUSIBLE_DOMAIN, PLAUSIBLE_URL } from "astro:env/client"
import "~/styles.css"

interface Props {
  title?: string
  description?: string
}

const {
  title = "Automate ad zone management, increase revenue and make advertisers happy – OpenAds",
  description = "The simplest way to sell ads directly on your site. Define zones, set prices, embed a widget, and get paid via Stripe.",
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="author" content="Piotr Kulpinski" />
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />

    <link
      href="/favicon.png"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="/favicon-dark.png"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />

    <!-- Plausible Analytics -->
    <script
      is:inline
      defer
      data-domain={PLAUSIBLE_DOMAIN}
      src={`${PLAUSIBLE_URL}/js/script.js`}></script>
  </head>

  <body
    class="flex flex-col min-h-dvh bg-background text-foreground font-sans antialiased"
  >
    <slot />
  </body>
</html>
